.decimal-container {
  display: inline-flex;
  justify-content: flex-start;
  justify-items: space-between;
  background-color: blue;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 5px;
}
